/*Header*/
.custom-header.py-xl-3.py-2 {
    padding-top: 0 !important;
  }
  .custom-header .header-top {
    text-align: center;
    background-color: var(--c-red);
    padding: 15px 0;
  }
  .custom-header .header-top .custom-para {
    font-family: var(--ff-primary);
    font-size: 15px;
    font-weight: 500;
    color: var(--c-white);
  }
  .custom-header .header-top .custom-para a {
    color: var(--c-yellow);
  }
  .custom-header .navbar.navbar-expand-lg.py-0 {
    padding: 20px 0 !important;
  }
  .custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {
    margin: auto !important;
  }
  .custom-header .header-btn .custom-button-alt {
    margin-left: 3px;
  }
  .custom-header .nav-link {
    font-family: var(--ff-primary);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--c-primary-text);
    transition: all 0.3s ease-in-out;
  }
  .custom-header .nav-link:hover {
    color:var(--c-primary-blue);
  }
  .custom-header .nav-item {
    padding-right: 16px;
  }
  .custom-header .nav-link.active {
    color: var(--c-primary-blue);
  }
  /*banner*/
  .signin-section-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .signin-section-wrap::after {
    position: absolute;
    content: '';
    background-color: var(--c-grey-light);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.65;
    z-index: -1;
  }
  .sign-in-img {
    margin: 0 0;
    position: relative;
  }
  .sign-in-img::after {
    position: absolute;
    content: '';
    background-color: var(--c-dark-blue);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.65;
  }
  .sign-in-img img{
    width: 100%;
    object-fit: cover;
  }
  .sign-in-content {
    position: relative;
    margin-left: 260px;
  }
  .sign-in-content h3 {
    font-family: var(--ff-primary);
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    color: var(--c-tertiary-text);
  }
  .sign-in-content ul {
    margin-top: 10px;
  }
  .sign-in-content ul li {
    font-family: var(--ff-primary);
    font-size: 23px;
    font-weight: 700;
    color: var(--c-tertiary-text-alt);
    padding: 5px 0;
  }
  .signin-section {
    position: relative;
  }
  .signin-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 24%;
    transform: translateY(42%);
  }
  .signin-form .form-box {
    background-color: var(--c-white);
    box-shadow: 3px 5px 10.56px 0.44px rgba(53, 53, 53, 0.75);
    padding: 35px 35px 50px;
    border-radius: 25px;
  }
  .signin-form .form-box h3 {
    font-family: var(--ff-primary);
    font-size: 25px;
    font-weight: 700;
    color: var(--c-primary-blue);
    text-transform: uppercase;
    text-align: center;
  }
  .signin-form .form-box .custom-para {
    font-size: 14px;
    color: var(--c-dark-blue);
    font-weight: 400;
    margin-top: 6px;
    text-align: center;
  }
  .signin-form .form-box form {
    margin-top: 33px;
  }
  .signin-form .form-box form .form-control {
    font-size: 14px;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 50px;
  }
  .signin-form .form-box .signin-form-btn .custom-button {
    width: 100%;
    padding: 10px 0px 11px;
    background-color: var(--c-primary-blue);
    color: var(--c-white);
  }
  .signin-form .form-box .signin-form-btn .custom-button:hover {
    background-color: transparent;
    color: var(--c-primary-blue);
  }
  .signin-form .form-box form .pass-check ul {
    display: flex;
    margin-top: 22px;
  }
  .signin-form .form-box form .pass-check ul li {
    margin: 0 0;
    padding-right: 30px;
  }
  .signin-form .form-box form .form-check-input {
    background-color: var(--c-grey-light);
  }
  .signin-form .form-box form .form-check-input:checked {
    background-color: var(--c-primary-blue);
  }
  .signin-form .form-box form  .form-check-label {
    color: var(--c-gray-text);
    font-size: 14px;
    font-weight: 400;
  }
  .signin-form .form-box form .pass-check ul li a {
    color: var(--c-primary-blue);
    font-size: 14px;
    font-weight: 400;
  }
  .signin-form .form-box form .custom-para.pass-creation {
    color: var(--c-gray-text) !important;
    margin-top: 12px;
    text-align: left;
  }
  .signin-form .form-box form .custom-para.pass-creation a {
    color: var(--c-primary-blue);
  }
  /*Footer*/
  .footer-wrap {
    background-color: var(--c-dark-blue);
    padding: 40px 0;
  }
  .footer-content h4 {
    color: var(--c-white);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .footer-content .footer-social li {
    display: inline-flex;
    flex-direction: row;
  }
  .footer-content ul {
    margin-top: 15px;
  }
  .footer-content .custom-para {
    font-family: var(--ff-tertiary);
    font-size: 14px;
    font-weight: 500;
    color: var(--c-tertiary-text-alt);
    margin-top: 24px;
    letter-spacing: 0.25px;
  }
  .footer-content ul li {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--ff-tertiary);
    padding: 6px 0;
    letter-spacing: 0.25px;
  }
  .footer-content ul li a {
    color: var(--c-tertiary-text-alt);
    transition: all 0.2s ease-in-out;
  }
  .footer-content ul li a:hover {
    color: var(--c-white);
  }
  .footer-content h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--c-white);
    text-transform: uppercase;
    margin-top: 44px;
  }
  .footer-form {
    margin-top: 25px;
  }
  .footer-form .form-control {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--c-white);
    font-size: 13px;
    font-weight: 400;
    color: var(--c-white) !important;
    font-family: var(--ff-tertiary);
    padding: 12px 20px;
  }
  .footer-form .btn-outline-secondary {
    color: var(--c-dark-blue);
    background-color: var(--c-white);
    border: 1px solid var(--c-white);
    border-radius: 50px;
  }
  .footer-content .footer-social li {
    padding: 0 15px 0 0px;
  }
  .footer-content .footer-social li a {
    color: var(--c-white);
    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    font-size: 20px;
    border: 1px solid var(--c-white);
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  }
  .footer-content .footer-social li a:hover {
    color: var(--c-tertiary-text-alt);
  }
  .footer-wrap .tc ul {
    display: flex;
  }
  .footer-wrap .tc ul li {
    padding: 0 35px 0 0px;
    margin: 0 0;
    position: relative;
  }
  .footer-wrap .tc ul li::after {
    position: absolute;
    content: '';
    background-color: var(--c-tertiary-text-alt);
    height: 12px;
    width: 2px;
    bottom: 4px;
    right: 16px;
  }
  .footer-wrap .tc ul li:last-child::after {
    display: none;
  }
  .footer-wrap .tc ul li a {
    font-family: var(--ff-tertiary);
    font-size: 14px;
    font-weight: 500;
    color: var(--c-tertiary-text-alt);
    letter-spacing: 0.25px;
    text-transform: capitalize;
  }
  .footer-wrap .tc-para {
    text-align: end;
  }
  .footer-wrap .tc-para .custom-para {
    color: var(--c-tertiary-text-alt);
    font-family: var(--ff-tertiary);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
  .footer-wrap .copyright .container {
    padding: 0 0 !important;
  }
  .footer-wrap .copyright {
    margin-top: 82px;
    position: relative;
  }
  .footer-wrap .copyright::before {
    position: absolute;
    content: '';
    background-color: var(--c-tertiary-text-alt);
    width: 100%;
    top: -40px;
    left: 0;
    height: 1px;
}