/*Header*/
.custom-header.py-xl-3.py-2 {
    padding: 0 0 !important;
  }
  .custom-header .header-top {
    text-align: center;
    background-color: var(--c-red);
    padding: 15px 0;
  }
  .custom-header .header-top .custom-para {
    font-family: var(--ff-primary);
    font-size: 15px;
    font-weight: 500;
    color: var(--c-white);
  }
  .custom-header .header-top .custom-para a {
    color: var(--c-yellow);
  }
  .custom-header .navbar.navbar-expand-lg.py-0 {
    padding: 20px 0 !important;
  }
  .custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {
    margin: auto !important;
  }
  .custom-header .header-btn .custom-button-alt {
    margin-left: 3px;
  }
  .custom-header .nav-link {
    font-family: var(--ff-primary);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--c-primary-text);
    transition: all 0.3s ease-in-out;
  }
  .custom-header .nav-link:hover {
    color:var(--c-primary-blue);
  }
  .custom-header .nav-item {
    padding-right: 16px;
  }
  .custom-header .nav-link.active {
    color: var(--c-primary-blue);
  }
  /*banner-signin*/
  .sign-in-content h3 {
    font-family: var(--ff-primary);
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    color: var(--c-tertiary-text);
  }
  .sign-in-content ul {
    margin-top: 10px;
  }
  .sign-in-content ul li {
    font-family: var(--ff-primary);
    font-size: 23px;
    font-weight: 700;
    color: var(--c-tertiary-text-alt);
    padding: 5px 0;
  }
  .sign-in-content {
    position: relative;
    margin-left: 250px;
    padding: 230px 0;
  }
  .sign-left-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }
  .sign-left-bg::before {
    position: absolute;
    content: '';
    background-color: var(--c-bg-blue);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.73;
  }
  .custom-sign {
    background-color: var(--c-grey-light);
    position: relative;
  }
  .signin-form {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 429px;
    transform: translateY(-50%);
    background-color: var(--c-white);
    box-shadow: 3px 5px 10.56px 0.44px rgba(53, 53, 53, 0.75);
    padding: 35px 35px 50px;
    border-radius: 25px;
  }
  .signin-form h3 {
    font-family: var(--ff-primary);
    font-size: 25px;
    font-weight: 700;
    color: var(--c-primary-blue);
    text-transform: uppercase;
    text-align: center;
  }
  .signin-form .custom-para {
    font-size: 14px;
    color: var(--c-dark-blue);
    font-weight: 400;
    margin-top: 6px;
    text-align: center;
    font-family: muli;
  }
  .signin-form form {
    margin-top: 33px;
  }
  .signin-form form input {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 20px;
  border-radius: 50px;
  font-family: muli;
  background-color: var(--c-grey-light);
}
.signin-form .signin-form-btn .custom-button {
  width: 100%;
  padding: 8px 0px 8px;
  background-color: var(--c-primary-blue);
  color: var(--c-white);
  font-size: 18px;
  font-weight: 500;
  font-family: var(--ff-primary);
}
.signin-form form .pass-check ul {
  display: flex;
  margin-top: 22px;
}
.signin-form form .pass-check ul li {
  margin: 0 0;
  padding-right: 30px;
}
.signin-form form .form-check-label {
  color: var(--c-gray-text);
  font-size: 14px;
  font-weight: 400;
  font-family: muli;
}
.signin-form form .pass-check ul li a {
  color: var(--c-primary-blue);
  font-size: 14px;
  font-weight: 400;
  font-family: muli;
}
.signin-form form .custom-para.pass-creation {
  color: var(--c-gray-text) !important;
  margin-top: 12px;
  text-align: left;
  font-family: muli;
}
.signin-form form .custom-para.pass-creation a {
  color: var(--c-primary-blue);
}
.signin-form form .form-check-input:checked {
  background-color: var(--c-primary-blue);
}
.pass-check .form-check-input {
  padding: 7px 7px;
}
.signin-form .signin-form-btn .custom-button:hover {
  background-color: transparent;
  color: var(--c-primary-blue);
}
  /*Footer*/
  .footer-wrap {
    background-color: var(--c-dark-blue);
    padding: 40px 0;
  }
  .footer-content h4 {
    color: var(--c-white);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--ff-primary);
  }
  .footer-content .footer-social li {
    display: inline-flex;
    flex-direction: row;
  }
  .footer-content ul {
    margin-top: 15px;
  }
  .footer-content .custom-para {
    font-family: var(--ff-tertiary);
    font-size: 14px;
    font-weight: 500;
    color: var(--c-tertiary-text-alt);
    margin-top: 24px;
    letter-spacing: 0.25px;
  }
  .footer-content ul li {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--ff-tertiary);
    padding: 6px 0;
    letter-spacing: 0.25px;
  }
  .footer-content ul li a {
    color: var(--c-tertiary-text-alt);
    transition: all 0.2s ease-in-out;
  }
  .footer-content ul li a:hover {
    color: var(--c-white);
  }
  .footer-content h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--c-white);
    text-transform: uppercase;
    margin-top: 44px;
    font-family: var(--ff-primary);
  }
  .footer-form {
    margin-top: 25px;
  }
  .footer-form .form-control {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--c-white);
    font-size: 13px;
    font-weight: 400;
    color: var(--c-white) !important;
    font-family: var(--ff-tertiary);
    padding: 12px 20px;
  }
  .footer-form .btn-outline-secondary {
    color: var(--c-dark-blue);
    background-color: var(--c-white);
    border: 1px solid var(--c-white);
    border-radius: 50px;
    font-family: var(--ff-primary);
    font-size: 15px;
    text-transform: uppercase;
  }
  .footer-content .footer-social li {
    padding: 0 15px 0 0px;
  }
  .footer-content .footer-social li a {
    color: var(--c-white);
    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    font-size: 20px;
    border: 1px solid var(--c-white);
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  }
  .footer-content .footer-social li a:hover {
    color: var(--c-tertiary-text-alt);
  }
  .footer-wrap .tc ul {
    display: flex;
  }
  .footer-wrap .tc ul li {
    padding: 0 35px 0 0px;
    margin: 0 0;
    position: relative;
  }
  .footer-wrap .tc ul li::after {
    position: absolute;
    content: '';
    background-color: var(--c-tertiary-text-alt);
    height: 12px;
    width: 2px;
    bottom: 4px;
    right: 16px;
  }
  .footer-wrap .tc ul li:last-child::after {
    display: none;
  }
  .footer-wrap .tc ul li a {
    font-family: var(--ff-tertiary);
    font-size: 14px;
    font-weight: 500;
    color: var(--c-tertiary-text-alt);
    letter-spacing: 0.25px;
    text-transform: capitalize;
  }
  .footer-wrap .tc-para {
    text-align: end;
  }
  .footer-wrap .tc-para .custom-para {
    color: var(--c-tertiary-text-alt);
    font-family: var(--ff-tertiary);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
  .footer-wrap .copyright .container {
    padding: 0 0 !important;
  }
  .footer-wrap .copyright {
    margin-top: 82px;
    position: relative;
  }
  .footer-wrap .copyright::before {
    position: absolute;
    content: '';
    background-color: var(--c-tertiary-text-alt);
    width: 100%;
    top: -40px;
    left: 0;
    height: 1px;
}

/*Sign Up*/
.custom-sign.up form .form-control {
  margin-bottom: 17px !important;
}
.custom-sign.up .sign-in-content h3 {
  line-height: 34px;
  color: var(--c-dark-grey-text);
  padding-right: 310px;
}
.custom-sign.up .sign-in-content {
  padding: 148px 0 436px;
}
.custom-sign.up {
  position: relative;
}
.custom-sign.up::after {
  position: absolute;
  content: '';
  background-image: url(../images/sign-up-pattern.webp);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.signin-form.signup-form {
  z-index: 1;
}
/*Signup-2-Email*/
.sign-in-content.signup-email-right {
  padding: 360px 0 !important;
  margin-left: 0;
}
.signin-form.signup-form.signup-email-content .custom-para {
  font-size: 15px;
  line-height: 22px;
  margin-top: 10px;
}
.signin-form.signup-form.signup-email-content {
  padding: 90px 35px;
}
.custom-sign.up.signup-email {
  position: relative;
}
.custom-sign.up.signup-email::after {
  position: absolute;
  content: '';
  background-image: url(../images/signup-2-pattern.webp);
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.custom-sign.up.signup-email::before {
  position: absolute;
  content: '';
  background-image: url(../images/signup-2-mail.webp);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}
.sign-left-bg.email-bg {
  position: relative;
  z-index: 1;
}
/*Signup-3*/
.form-step-3-wrap form .form-select {
  margin: 15px 0;
  font-size: 14px;
  font-family: muli;
  font-weight: 400;
  color: var(--c-gray-text);
  padding: 11px 20px;
  border-radius: 50px;
  background-color: var(--c-white);
}
.custom-step {
  background-color: #f8f8f8;
}
.form-step-3-wrap form .form-control {
  font-family: muli;
  font-weight: 400;
  color: var(--c-gray-text);
  padding: 11px 20px;
  border-radius: 50px;
  background-color: var(--c-white);
  font-size: 14px;
}
.form-step-3-wrap .dp img {
  background-color: #d6d6d6;
  object-position: 20px 20px;
  width: 100px !important;
  object-fit: contain;
  height: 100px !important;
  border-radius: 50px;
}
.form-step-3-wrap .dp {
  text-align: center;
  margin: 38px 0 15px 0;
}
.form-step-3-wrap form .custom-para {
  font-family: muli;
  font-size: 13px;
  font-weight: 400;
  color: var(--c-gray-text);
  padding-left: 20px;
  text-align: left;
}
.form-step-3-wrap h3 {
  font-family: var(--ff-primary);
  font-size: 25px;
  font-weight: 700;
  color: var(--c-primary-blue);
  text-transform: uppercase;
  text-align: center;
}
.form-step-3-wrap .custom-para {
  font-family: muli;
  color: var(--c-secondary-text);
  margin-top: 10px;
  text-align: center;
}
.form-step.m-0 {
  padding: 30px 0 50px;
}
.signin-form-btn.signup-3-form-btn .custom-button {
  background-color: var(--c-primary-blue);
  border: 1px solid var(--c-primary-blue);
  color: var(--c-white);
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 700;
  padding: 8px 30px 8px 0px;
  width: 136px;
  position: relative;
  letter-spacing: 1px;
  background-image: url(../images/btn-arrow.webp);
  background-repeat: no-repeat;
  background-position: 80% 50%;
}


.signin-form-btn.signup-3-form-btn .custom-button:hover {
  background-color: transparent;
  border: 1px solid var(--c-primary-blue);
  color: var(--c-primary-blue);
}
.form-step-3-wrap.step-4-form-wrap form {
  margin-top: 25px;
}
.form-step-3.step-4-form {
  margin-top: 40px;
}

/* ==================numbers=================== */

.custom-step-wrap {
  padding: 45px 0;
  position: relative;
}
.number-wrap {
  display: flex;
  flex-wrap: wrap;
}
.c-number {
  width: 36px;
  height: 36px;
  background-color: var(--c-tertiary-text);
  text-align: center;
  color: var(--c-secondary-text);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
.number-wrap::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--c-tertiary-text);
  z-index: -2;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}
.number-wrap {
  position: relative;
  z-index: 9;
}
.c-number.active {
  color: var(--c-white);
  background-color: var(--c-primary-blue);
}
.custom-progress-line {
  width: 62%;
  height: 4px;
  background-color: var(--c-primary-blue);
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
#form-step-4 {
  display: none;
}

.custom-progress-line.reach-step-4 {
  width: 87%;
}

/*Homepage*/
.custom-banner .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}
.custom-banner .banner-img {
  object-fit: cover;
  width: 100% !important;
  height: 800px;
  object-position: 0 50%;
}
.banner-content {
  background-color: #0f59a8;
  opacity: 0.85;
  width: 507px;
  height: 371px;
  margin: 0 0 0 60px;
  padding: 22px 34px 0;
}
.custom-banner .carousel-caption h2 {
  font-family: var(--ff-primary);
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  color: var(--c-white);
}
.custom-banner .carousel-caption .custom-para {
  font-family: var(--ff-primary);
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  line-height: 26px;
  color: var(--c-white);
  margin-top: 10px;
}
.banner-btn {
  text-align: left;
  margin-top: 20px;
}
.banner-btn .custom-button {
  background-color: var(--c-white);
  border: 1px solid var(--c-white);
  font-size: 16px;
  font-weight: 500;
  padding: 9px 0px 9px;
  width: 243px;
}
.banner-btn .custom-button:hover {
  background-color: transparent;
  border: 1px solid var(--c-white);
}
.event {
  padding-top: 75px;
}
.event .custom-heading.line h3 {
  font-size: 25px;
  font-weight: 700;
  color: var(--c-secondary-text);
  padding-left: 25px;
}
.event .custom-heading.line {
  position: relative;
  margin-bottom: 40px;
}
.event .custom-heading.line::after {
  position: absolute;
  content: '';
  background-color: var(--c-primary-blue);
  height: 39px;
  width: 9px;
  top: -3px;
  left: 0;
}
.home-section-btn {
  text-align: end;
  margin-bottom: 40px;
}
.home-section-btn .custom-button {
  padding: 9px 0px 9px;
  width: 118px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.event-box-content {
  box-shadow: 4px 6px 7px 0px rgba(102, 102, 102, 0.74);
  border-radius: 10px;
  position: relative;
  margin: 0px 10px;
}
.event-box-content .event-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  height: 235px;
}
.event-box-content .event-img {
  position: relative;
}
.event-box-content .event-img .custom-para {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-family: muli;
  font-size: 14px;
  color: var(--c-white);
  font-weight: 400;
}
.event-box-content .event-category {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--c-white);
  padding: 5px 12px;
  border-radius: 3px;
  opacity: 0.9;
  font-family: muli;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--c-secondary-text);
}
.event-box-content h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--c-primary-blue);
  padding: 20px 0px 20px 22px;
}
.evnt-btn {
  text-align: center;
  margin-top: 24px;
}
.evnt-btn .custom-button {
  font-weight: 500;
  text-transform: uppercase;
  width: 140px;
  padding: 10px 0px 10px;
  background-color: var(--c-primary-blue);
  color: var(--c-white);
}
.evnt-btn .custom-button:hover {
  background-color: transparent;
  color: var(--c-primary-blue);
}
.event .owl-nav .owl-prev span {
  background-color: var(--c-tertiary-text) !important;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  left: -50px;
  font-size: 31px;
  text-align: center;
  line-height: 24px;
}
.event .owl-nav .owl-next span {
  background-color: var(--c-tertiary-text) !important;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  right: -50px;
  font-size: 31px;
  text-align: center;
  line-height: 24px;
}
/*************Rresponsive Start**************/

@media (min-width: 1800px) and (max-width: 1900px){
  /*Sign up*/
  .custom-sign.up .sign-in-content h3 {padding-right: 260px;}

}

@media (min-width: 1700px) and (max-width: 1800px){
  /*Sign up*/
  .custom-sign.up .sign-in-content h3 {padding-right: 260px;}
  .custom-sign.up::after {height: 52%;}
}

@media (min-width: 1600px) and (max-width: 1700px){
  /*Sign up*/
  .custom-sign.up .sign-in-content h3 {padding-right: 170px;}
  .custom-sign.up::after {height: 52%;}
}

@media (min-width: 1500px) and (max-width: 1600px){
  /*Sign up*/
  .custom-sign.up .sign-in-content h3 {padding-right: 130px;}
  .custom-sign.up::after {height: 52%;}
}

@media (min-width: 1400px) and (max-width: 1500px){
  /*Sign up*/
  .custom-sign.up .sign-in-content h3 {padding-right: 90px;}
  .custom-sign.up::after {height: 52%;}
  /*Signup-2-email*/
  .custom-sign.up.signup-email::before {height: 70%;}
}

@media (min-width: 1300px) and (max-width: 1400px){
  /*Sign up*/
  .custom-sign.up .sign-in-content h3 {padding-right: 30px;}
  .custom-sign.up::after {height: 52%;}
  /*Signup-2-email*/
  .custom-sign.up.signup-email::before {height: 60%;}
}

@media (min-width: 1200px) and (max-width: 1300px){
  .sign-in-content {margin-left: 230px;padding: 140px 0;}
  .footer-wrap .copyright .container {padding: 0 15px !important;}
  .footer-form .btn-outline-secondary {font-size: 12px;}
  /*Sign up*/
  .custom-sign.up .sign-in-content h3 {padding-right: 30px;}
  .custom-sign.up::after {height: 52%;}
  /*Signup-2-email*/
  .custom-sign.up.signup-email::before {height: 70%;}
  .sign-in-content.signup-email-right {padding: 250px 0 !important;}
  .signin-form.signup-form.signup-email-content {padding: 90px 15px;}
  .signin-form.signup-form.signup-email-content .custom-para {font-size: 14px;}
}

@media (min-width: 1024px) and (max-width: 1200px){
    .sign-in-content {margin-left: 180px;padding: 140px 0;}
    .sign-in-content h3 {font-size: 22px;}
    .sign-in-content ul li {font-size: 18px;padding: 3px 0;}
    .signin-form h3 {font-size: 22px;}
    .signin-form form {margin-top: 22px;}
    .signin-form {padding: 25px 20px 30px;width: 370px;}
    .footer-wrap .copyright .container {padding: 0 15px !important;}
    .custom-header .nav-link {font-size: 13px;}
    .custom-header .nav-item {padding-right: 10px;}
    .footer-wrap .copyright {margin-top: 50px;}
    .footer-wrap .copyright::before {top: -20px;}
    .footer-wrap {padding: 40px 0 20px;}
    .custom-header .header-top {padding: 8px 0px;}
    .custom-header .header-top .custom-para {font-size: 12px;}
    .footer-content h3 {margin-top: 34px;}
    .footer-wrap .tc ul li a {font-size: 12px;}
    .footer-wrap .tc-para .custom-para {font-size: 12px;}
    .footer-content .footer-social li a {height: 30px;width: 30px;font-size: 16px;}
    .footer-form .btn-outline-secondary {font-size: 12px;}
    /*Sign up*/
    .custom-sign.up .sign-in-content h3 {padding-right: 0px;}
    .custom-sign.up::after {height: 42%;}
    .custom-sign.up .sign-in-content {padding: 100px 0 388px;}
    /*Signup-2-email*/
    .custom-sign.up.signup-email::before {height: 70%;}
    .sign-in-content.signup-email-right {padding: 200px 0 !important;}
    .signin-form.signup-form.signup-email-content {padding: 75px 15px;}
    .signin-form.signup-form.signup-email-content .custom-para {font-size: 14px;}
    /*Signup-3*/
    .form-step-3-wrap h3 {font-size: 22px;}
    .form-step-3-wrap .dp {margin: 28px 0 15px 0;}
    
}

@media (min-width: 992px) and (max-width: 1024px) {
    .sign-in-content {margin-left: 180px;padding: 120px 0;}
    .sign-in-content h3 {font-size: 20px;}
    .sign-in-content ul li {font-size: 17px;padding: 3px 0;}
    .signin-form h3 {font-size: 22px;}
    .signin-form form {margin-top: 22px;}
    .signin-form {padding: 25px 20px 30px;width: 370px;}
    .footer-wrap .copyright .container {padding: 0 15px !important;}
    .custom-header .nav-link {font-size: 13px;}
    .custom-header .nav-item {padding-right: 10px;}
    .footer-wrap .copyright {margin-top: 50px;}
    .footer-wrap .copyright::before {top: -20px;}
    .footer-wrap {padding: 40px 0 20px;}
    .custom-header .header-top {padding: 8px 0px;}
    .custom-header .header-top .custom-para {font-size: 12px;}
    .footer-content h3 {margin-top: 34px;}
    .footer-wrap .tc ul li a {font-size: 12px;}
    .footer-wrap .tc-para .custom-para {font-size: 12px;}
    .footer-content .footer-social li a {height: 30px;width: 30px;font-size: 16px;}
    .footer-form .btn-outline-secondary {font-size: 12px;}
    /*Sign up*/
    .custom-sign.up .sign-in-content h3 {padding-right: 0px;}
    .custom-sign.up::after {height: 42%;}
    .custom-sign.up .sign-in-content {padding: 100px 0 388px;}
    /*Signup-2-email*/
    .custom-sign.up.signup-email::before {height: 70%;}
    .sign-in-content.signup-email-right {padding: 200px 0 !important;}
    .signin-form.signup-form.signup-email-content {padding: 75px 15px;}
    .signin-form.signup-form.signup-email-content .custom-para {font-size: 14px;}
    /*Signup-3*/
    .form-step-3-wrap h3 {font-size: 22px;}
    .form-step-3-wrap .dp {margin: 24px 0 15px 0;}
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler { float: left;margin: 0; height: 45px; width: 45px; border-radius: 0;z-index: 1}
.navbar-toggler .icon-bar { width: 24px; background: #fff;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}

    .sign-in-content {margin-left: 0px;padding: 60px 0; text-align: center;}
    .sign-in-content h3 {font-size: 20px;}
    .sign-in-content ul li {font-size: 17px;padding: 3px 0;}
    .signin-form h3 {font-size: 22px;}
    .signin-form form {margin-top: 22px;}
    .signin-form {padding: 25px 20px 30px;width: 500px;top: 28%;}
    .sign-left-bg {min-height: 470px;}
    .signin-form .signin-form-btn .custom-button {font-size: 16px;}
    .footer-wrap .copyright .container {padding: 0 15px !important;}
    .custom-header .nav-link {font-size: 13px;}
    .custom-header .nav-item {padding-right: 10px;margin: 0px 0px;border-bottom: 1px dashed var(--c-tertiary-text);}
    .custom-header .nav-item:last-child {border-bottom: 1px dashed transparent;}
    .custom-header .navbar-nav.ms-auto.mb-2.mb-lg-0 {padding: 20px 0 0px 0px;}
    .footer-wrap .copyright {margin-top: 10px;}
    .footer-wrap .copyright::before {top: -20px;}
    .footer-wrap {padding: 40px 0 20px;}
    .custom-header .header-top {padding: 8px 0px;}
    .custom-header .header-top .custom-para {font-size: 12px;padding: 0 15px;}
    .footer-content h3 {margin-top: 22px;}
    .footer-wrap .tc ul li a {font-size: 12px;}
    .footer-wrap .tc-para .custom-para {font-size: 12px;}
    .footer-content .footer-social li a {height: 30px;width: 30px;font-size: 16px;}
    .footer-content {text-align: center;margin-bottom: 30px;}
    .header-btn {display: none;}
    .footer-wrap .tc ul {justify-content: center;}
    .footer-wrap .tc-para {text-align: center;margin-top: 15px;}
    .footer-content ul li {padding: 4px 0;}
    .footer-content .footer-form form .input-group {width: 70%;}
    .footer-form .btn-outline-secondary {font-size: 12px;}
    /*Sign up*/
    .custom-sign.up .sign-in-content h3 {padding-right: 0px;}
    .custom-sign.up::after {height: 26%;}
    .custom-sign.up .sign-in-content {padding: 60px 0 120px;position: relative;z-index: 1;}
    .custom-sign.up .sign-left-bg {min-height: 600px;}
    .custom-sign.up .signin-form {top: 35%;}
    /*Signup-2-email*/
    .custom-sign.up.signup-email::before {height: 27%;}
    .sign-in-content.signup-email-right {padding: 120px 0 !important;}
    .signin-form.signup-form.signup-email-content {padding: 75px 15px;}
    .signin-form.signup-form.signup-email-content .custom-para {font-size: 14px;}
    .custom-sign.up.signup-email::after {top: auto;height: 29%;background-position: left center;}
    /*Signup-3*/
    .form-step-3-wrap h3 {font-size: 22px;}
    .form-step-3-wrap .dp {margin: 24px 0 15px 0;}
}


@media (max-width: 767.98px){
    .custom-header .header-top .custom-para {font-size: 11px;}
    .sign-in-content {padding: 50px 0;}
    .signin-form {width: 550px;top: 29%;}
    .footer-content .footer-form form .input-group {width: 90%;}
    /*Signup-2-email*/
    .sign-left-bg.email-bg {min-height: 400px !important;}
    .custom-sign.up.signup-email::after {bottom: 55px;}
    .custom-sign.up.signup-email::before {height: 34%;}
    .signin-form.signup-form.signup-email-content {top: 32%;}
}

@media (max-width: 575.98px){
    .sign-in-content {padding: 40px 0;}
    .signin-form {width: 450px;top: 30%;}
    .sign-in-content h3 {line-height: 26px;}
    .sign-in-content ul {margin-top: 3px;}
    .signin-form .signin-form-btn .custom-button {font-size: 15px;padding: 7px 0px 7px;}
    .footer-content ul {margin-top: 8px;}
    .footer-content .custom-para {margin-top: 15px;font-size: 12px;}
    .footer-content ul li {font-size: 12px;}
    .footer-content h4 {font-size: 16px;}
    .footer-content h3 {font-size: 16px;}
    .footer-social {margin-top: 10px !important;}
    .footer-wrap .copyright {margin-top: 0px;}
    .footer-wrap .copyright::before {top: -10px;}
    .custom-header.py-xl-3.py-2 .navbar-brand.ms-0.py-0 img {height: 50px;}
    .footer-content .footer-form form .input-group {width: 100%;}
    .footer-form .btn-outline-secondary {font-size: 14px;}
    /*Sign up*/
    .custom-sign.up .signin-form {top: 36%;}
    .custom-sign.up::after {height: 19%;}
    .custom-sign.up .sign-in-content {padding: 40px 0 80px;}
    /*Signup-2-email*/
    .signin-form.signup-form.signup-email-content {top: 31%;}
    /*Signup-3*/
    .form-step-3-wrap h3 {font-size: 20px;}
    .form-step-3-wrap .custom-para {margin-top: 7px;}
    .form-step.m-0 {padding: 30px 0 40px;}
}

@media only screen and (max-width: 480.98px) {	
    .signin-form h3 {font-size: 18px;}
    .signin-form .custom-para {font-size: 13px;}
    .signin-form form .form-check-label {font-size: 13px;}
    .signin-form {width: 360px;}
    .footer-wrap .tc ul li a {font-size: 11px;}
    .footer-wrap .tc ul li {padding: 0 6px 0 0px;}
    .footer-wrap .tc ul li::after {width: 1px;right: 3px;}
    .footer-wrap .tc-para .custom-para {font-size: 11px;}
    .custom-header.py-xl-3.py-2 .navbar-brand.ms-0.py-0 img {height: 40px;}
    /*Sign Up*/
    .custom-sign.up .sign-in-content h3 {line-height: 26px;font-size: 16px;}
    .custom-sign.up::after {height: 17%;}
    .custom-sign.up .sign-in-content {padding: 40px 0 40px;}
    .custom-sign.up .signin-form {top: 39%;}
    /*Signup-2-email*/
    .signin-form.signup-form.signup-email-content {top: 30%;}
    .custom-sign.up.signup-email::after {bottom: 100px;height: 22%;}
    .custom-sign.up.signup-email::before {height: 30%;}
     /*Signup-3*/
     .form-step-3-wrap h3 {font-size: 18px;}
     .form-step-3-wrap form .custom-para {padding-left: 10px;}
     .signin-form-btn.signup-3-form-btn {text-align: center;}
}

@media only screen and (max-width: 390.98px) {
    .signin-form {width: 290px;top: 31%;}
    .signin-form form .pass-check ul li {padding-right: 12px;}
    .signin-form {padding: 25px 15px 30px;}
    .signin-form form {margin-top: 12px;}
    /*Signup-2-email*/
    .signin-form.signup-form.signup-email-content {top: 34%;}
    .sign-in-content.signup-email-right {padding: 90px 0 !important;}
    .custom-sign.up.signup-email::after {bottom: 60px;height: 22%;}

}