/******** Google Fonts ********/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/******** Color Schemes ********/

:root {
  --c-primary-blue: #0f59a8;
  --c-dark-blue: #01061e;
  --c-bg-blue:#042f5c;
  --c-red: #f20d0d;
  --c-yellow: #eafd18;
  --c-white: #ffff;
  --c-black-900: #000;
  --c-grey-light: #f2f2f2;
  
  --c-primary-text: #000;
  --c-secondary-text: #2D2D2D;
  --c-tertiary-text: #c7c7c7;
  --c-tertiary-text-alt: #b5b5b5;
  --c-gray-text: #6e6f74;
  --c-dark-grey-text: #999999;

  --ff-primary: 'Montserrat', sans-serif;
  --ff-tertiary: 'Roboto', sans-serif;
  
}

@font-face {
  font-family: 'muli';
  src: url('../fonts/muli/Muli-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--c-black-text);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  width: 100%;
  max-width: 1240px;
}


.custom-pad {
  padding: 60px 0;
}

/*Custom-button*/
.custom-button {
  background-color: transparent;
  border: 1px solid var(--c-primary-blue);
  color: var(--c-primary-blue);
  font-family: var(--ff-primary);
  font-size: 15px;
  font-weight: 400;
  display: inline-flex;
  padding: 4px 0px 5px;
  border-radius: 50px;
  width: 105px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.custom-button:hover {
  background-color: var(--c-primary-blue);
  color: var(--c-white);
}
.custom-button-alt {
  background-color: var(--c-primary-blue);
  border: 1px solid transparent;
  color: var(--c-white);
  font-family: var(--ff-primary);
  font-size: 15px;
  font-weight: 400;
  display: inline-flex;
  padding: 4px 0px 5px;
  border-radius: 50px;
  width: 105px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.custom-button-alt:hover {
  background-color: transparent;
  border: 1px solid var(--c-primary-blue);
  color: var(--c-primary-blue);
}
/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggler {
  border-color: #5f4b8b;
  background: #5f4b8b;
  outline: none;
}

.navbar-toggler {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-header {
  display: none;
}

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

